<h1>Notifications</h1>
<div>
    <form name="subscribeForm" ng-submit="addSubscription()" >
        <label>City:</label>
        <select name="repeatSelect" id="repeatSelect" ng-model="city" required>
            <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <label>Price:</label>
        <select name="repeatMinPrice" id="repeatMinPrice" ng-model="minPrice" required>
            <option ng-repeat="price in priceRange" value="{{price.name}}">{{price.name}}</option>
        </select>
        &nbsp; to &nbsp;
        <select name="repeatMaxPrice" id="repeatMaxPrice" ng-model="maxPrice" required>
            <option ng-repeat="price in priceRange" value="{{price.name}}">{{price.name}}</option>
        </select>

        &nbsp;&nbsp;&nbsp;
        <label>Room Numbers:</label>
        <select name="repeatMinRoomNr" id="repeatMinRoomNr" ng-model="minRoomNr" required>
            <option ng-repeat="roomNr in roomNrRange" value="{{roomNr.name}}">{{roomNr.name}}</option>
        </select>
        &nbsp; to &nbsp;
        <select name="repeatMaxRoomNr" id="repeatMaxRoomNr" ng-model="maxRoomNr" required>
            <option ng-repeat="roomNr in roomNrRange" value="{{roomNr.name}}">{{roomNr.name}}</option>
        </select>

        <label>New Subscription:
            <input type="email" ng-model="email" name="input" length="20" required />
            <input type="submit" value="Add" ng-disabled="subscribeForm.$invalid" />
            <span class="error" ng-show="subscribeForm.input.$error.email">No valid email.</span>
        </label>
    </form>
</div>

<div>
    <button ng-click="pagination.prevPage()">Previous</button>
    <button ng-click="pagination.nextPage()">Next</button>
</div>
<br />
<div class="list-group">
    <subscription-list subscription-object="subscription" ng-repeat="subscription in subscriptions | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
    </subscription-list>
</div>
<div>
    <button ng-click="pagination.prevPage()">Previous</button>
    <button ng-click="pagination.nextPage()">Next</button>
</div>
<br />